@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    background-color: #e0e0e0;
}

                    /*PRIMEIRA SESSÃO*/

header {
    display: flex;
    height: 900px;
    background-image: url(/src/imagens/bg-minimal-compressed.png);
}

    aside#header-esquerdo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e0e0e0;
        width: 50%;
        height: 900px;
    }
        #info{
            margin: 45px;
            width: 615px;
            height: 700px;
        }
            #logo-nome{
                display: flex;
                align-items: center;
            }
                #logo-nome h1{
                    margin-left: 15px;
                    font-size: 40px;
                    font-weight: 300;
                    line-height: 100%;
                }

                #logo-nome strong{
                    font-size: 40px;
                    font-weight: 700;
                }
            
            #info h2{
                margin-top: 20px;
                font-weight: 600;
                font-size: 26px;
            }

            #info h3{
                margin-top: 10px;
                margin-bottom: 40px;
                font-weight: 300;
                font-size: 18px;
                line-height: 125%;
            }

            #info span{
                font-size: 22px;
                font-weight: 500;
            }

            button{
                text-decoration: none;
                width: 100%;
                padding: 12px;
                font-size: 18px;
                border-radius: 10px;
                border: 2px solid #ff2800;
                color: #ff2800;
                font-weight: bold;
                cursor: pointer;
                background-color: #e0e0e0;
            }

                button:hover{
                    background-color: #ff2800;
                    color: #e0e0e0;
                }

            #info p{
                font-size: 12px;
                font-style: italic;
                margin-left: 5px;
                margin-top: 5px;
            }

    aside#header-direito{
        display: flex;
        background-image: url(/src/imagens/bg-minimal-compressed.png);
        width: 50%;
        height: 900px;
    }


                    /*SEGUNDA SESSÃO*/

section#info-extra{
    background-color: #ff2800;
}

section#barra-info-extra{
    display: flex;
    justify-content: center;
    background-color: #ff2800;
    height: 200px;
    width: 80%;
    margin: auto;
}

    #barra-info-extra h3{
        display: flex;
        flex-direction: column;
        font-size: 25px;
        font-weight: normal;
        margin: auto;
        color: #000000;
        align-items: center;
        text-align: center;
        background-color: #ff2800;
    }    

    #barra-info-extra img{
        margin-bottom: 15px;
        width: 35px;
        margin-top: 35px;
        background-color: #ff2800;
    }


                    /*TERCEIRA SESSÃO*/

section#area-info-professor{
    display: flex;
    margin: auto;
    height: 740px;
    width: 90%;
    background-color: #e0e0e0;
}

    #img-professor{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    #img-professor img{
        width: 90%;
        max-width: 400px;
        border-radius: 10px;
    }

    #info-professor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;
        width: 50%;
        max-width: 600px;
    }

        #info-professor h1{
            font-size: 4vw;
            font-weight: 500;
        }

        #info-professor h3{
            border-top: 1px solid #ff2800;
            margin-top: 25px;
            font-weight: 300;
            padding-top: 25px;
            font-size: 20px;
        }

        .strong-red{
            color: #ff2800;
        }


                    /*QUARTA SESSÃO*/

section#info-adicionais{
    display: flex;
    margin: auto;
    height: 740px;
    width: 90%;
    background-color: #e0e0e0;
    border-top: 1px solid #ff2800;
}

    #quarta-sessao-topo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 60px auto;
    }

        #quarta-sessao-topo h2{
            font-size: 4vw;
            font-weight: 500;
            margin-bottom: 45px;
        }

        #quarta-sessao-topo-info{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            #info-btn-maps{
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 50%;
                margin: 20px;
            }

                #info-btn-maps h3{
                    font-weight: 500;
                    padding-bottom: 20px;
                    font-size: 20px;
                }

                #info-btn-maps input{
                    margin-top: 20px;
                }

